@charset "UTF-8";
/* CSS Document */

body{
font-family:"Courier New", Courier, monospace;
font-size:22px;
margin: 0 0 0 0 ;

}
p{
line-height:0px;
font-size:20px;
}
#printnota{
visibility:hidden;
}

button{
	visibility:hidden;
	}
/*
	TODO 
	clear table border
	add border bottom to each row
*/
table{
	border:1px #000 solid;
	}